<div class="action-menu">
    <ul>
        <li>
            <button type="button"
            class="btn btn-default  action-button"
            data-toggle="modal"
            data-target="#modalCreate">Create</button>
        </li>
        <li>
            <button type="button"
            class="btn btn-default  action-button"
            data-toggle="modal"
            data-target="#modalUpdate">Update</button>
        </li>
        <li>
            <button type="button"
            class="btn btn-default action-button"
            data-toggle="modal"
            data-target="#modalDelete">Delete</button>
        </li>
    </ul>
</div>
