@import controllers.utils.ActivePage
@(activeMenu : Integer)

<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <a class="navbar-brand" href="/">CourseConsole</a>
    <ul class="nav navbar-nav">
        <li class="nav-item @(if(activeMenu == ActivePage.Students) "active") ">
            <a class="nav-link" href="/students">Students <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item @(if(activeMenu == ActivePage.Courses) "active")">
            <a class="nav-link" href="/courses">Courses</a>
        </li>
        <li class="nav-item @(if(activeMenu == ActivePage.Disciplines) "active")">
            <a class="nav-link" href="/disciplines">Disciplines</a>
        </li>
        <li class="nav-item @(if(activeMenu == ActivePage.Subscriptions) "active")">
            <a class="nav-link" href="/subscriptions">Subscriptions</a>
        </li>
        <li class="nav-item @(if(activeMenu == ActivePage.Groups) "active")">
            <a class="nav-link" href="/groups">Groups</a>
        </li>
        <li class="nav-item @(if(activeMenu == ActivePage.Lessons) "active")">
            <a class="nav-link" href="/lessons">Lessons</a>
        </li>

        <li class="nav-item" data-toggle="modal" data-target="#modalHelp">
            <a class="nav-link" style="cursor: pointer">Help</a>
        </li>
    </ul>

</nav>
@components.modals.modalhelp()
