<div id="modalHelp" class="modal fade" role="dialog">
    <div class="modal-dialog">
            <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Help</h4>
            </div>
            <div class="modal-body">

                <p>
                    1)To perform add delete and update operation select appropriate page and push corresponding button.
                </p>
                <p>
                    2)Use combo box on lessons and groups pages to perform search with criteria.
                </p>
                <p>
                    3)Use browser print button to create report.
                </p>
                <p>
                    4)If some field is empty when performing update or create operations, you will get warning message
                    and operation wont take place.
                </p>
                <p>
                    5)If you try to create entity with duplicate primary key, you will get warning and operation wont
                    take place.
                </p>
                <p>
                    6)If you delete or update discipline all the corresponding to discipline courses
                    will be also deleted or updated.
                </p>
                <p>
                    7)If you delete or update course all the corresponding lessons will be also deleted or updated.
                </p>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div><!-- End modal create -->
