@()

@main("Welcome!", 8){

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Welcome to CourseConsole!</h1>
            <p>This is a simple web based UI for working with programming courses database.
                This project is created as a course work for database and databanks subject at TTI.</p>
            <p><a class="btn btn-primary btn-lg" href="http://www.tsi.lv/" role="button">Learn more »</a></p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
                <a href="#" class="thumbnail">
                    <img src="@routes.Assets.at("images/me.jpg")" alt="" style="max-width: 300px">
                </a>
        </div>
        <div class="col-sm-8">

            <div class="panel-body">
                <h3 class="title">About.</h3>
                <p class="text-muted"><span class="glyphicon glyphicon-lock"></span> Available Exclusively for Premium Members</p>
                <p>My name is Vladislav. I am second year student in computer science at TSI. I am passionate about software development and Java.</p>
                <p>I have chosen to create web for user interface because at the moment I am investing my time into studying libraries and frameworks
                    for creating web based solutions with Java. For this project I decided to try Play Framework for implementing MVC model.</p>

                <p class="text-muted">Presented by <a href="#">Vladislav Yakushin</a></p>

            </div>

        </div>
    </div>

}